BasedOnStyle: LLVM
UseTab: Always
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
Cpp11BracedListStyle: true
BracedInitializerIndentWidth: 8
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
DerivePointerAlignment: false
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
